/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/montserrat-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/montserrat-v18-latin_cyrillic-regular.woff') format('woff');/* Modern Browsers */
    }   
/* montserrat-600 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/montserrat-v18-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/montserrat-v18-latin_cyrillic-600.woff') format('woff'); /* Modern Browsers */
    }
/* montserrat-700 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/montserrat-v18-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/montserrat-v18-latin_cyrillic-700.woff') format('woff'); /* Modern Browsers */
    }
/* montserrat-800 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local(''),
        url('../fonts/montserrat-v18-latin_cyrillic-800.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/montserrat-v18-latin_cyrillic-800.woff') format('woff'); /* Modern Browsers */
    }


body {
    font-family: 'Montserrat', sans-serif;
}


html {
    font-family: 'Montserrat', sans-serif;
 }
      
  
h1 {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 70px;
    font-weight: 800;
    margin: 0;
    }

h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

a{
    text-decoration:none;
    
}
:root {
    --color-orange: #FF9900;
    --color-light-orange: #FF9900B2;
    --color-dark-orange: #E1670E;
}


.container {
    max-width: 1800px;
    margin: 0 auto;
}

/*header*/

.header {
    background: #FFFFFF;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__nav-burger {
    order: -1;
    display: none;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

.header__nav-burger.active-burger svg rect {
    fill: var(--color-dark-orange);
}

.header__nav-links-b {
    margin-top: 79px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 45px;
    color: #333333;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;
}

.swiper-pagination-bullet {
    cursor: pointer;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    height: 100px;
    padding-right: 15px;
    padding-left: 15px;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav-list {
    display: flex;
    padding: 0;
}

.header__nav-item:not(:last-child) {
    margin-right: 85px;
}

.header__nav-links {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333; 
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;
}


.header__btn-search{
    padding-top: 6px;
    margin-left: 85px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}   

.header__btn-burger{
    display: none;
    padding-top: 6px;
    margin-left: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}   

.header__burger-nav {
    display: none;
}

.header__nav-burger:hover svg rect {
    fill:var(--color-dark-orange)
}

.header__nav-burger:focus{
    border: 2px solid var(--color-dark-orange);
    box-sizing: border-box;
}


.header__btn-search:focus{
    outline:2px solid var(--color-dark-orange);
}   

.header__nav-burger:hover svg rect,
.header__btn-search svg rect,
.header__btn-search svg path{
    transition: fill .2s,
               stroke .2s;
}

.header__btn-search:hover svg rect {
    fill:var(--color-dark-orange);
}

.header__btn-search:hover svg path {
    stroke:var(--color-dark-orange);
}

.header__nav-links:hover {
    border-bottom: 2px solid var(--color-orange);
} 

.header__nav-links:focus-visible {
    outline: 2px solid  var(--color-dark-orange);
} 

.header__nav-links:active {
    color: var(--color-dark-orange);
    border-bottom: 2px solid var(--color-dark-orange);
} 

.header__nav-links-b:hover {
    border-bottom: 2px solid var(--color-orange);
} 

.header__nav-links-b:focus-visible{
    outline: 2px solid  var(--color-dark-orange);
} 

.header__nav-links-b:active {
    color: var(--color-dark-orange);
    border-bottom: 2px solid var(--color-dark-orange);
} 


.swiper-box {
    position: relative;
}

.swiper-pagination-bullet {
    height: 15px;
    width: 15px;
}

.swiper-pagination-bullet-active {
    background: #FFFFFF;
    opacity: rgba(255, 255, 255, 0.4);;
}


.swiper-slide {
    background-size: cover;
}


.swiper-container {
    overflow: hidden;
    position: absolute;
    left: 0;
    height: 0;
    width: 100%;
    height: 100%;
}

.section-hero__info-box {
    position: relative;
    z-index: 1;
    padding: 80px;
    pointer-events: none;
}


 
/**hero*/

.section-hero {
    padding-right: 15px;
    padding-left: 15px;
}

.section-hero__content {
    background-image: url(../img/balconies.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1800px;
    margin: 0 auto;
    margin-bottom: 100px;
}


.section-hero__order {
    display: none;
}

.section-hero__info-box {
    padding: 100px 80px 125px 80px;
}

.section-hero__title {
    color: #FFFFFF;
    font-family: 'Montserrat';
    max-width: 837px;
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
}

.section-hero__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 115px;
    max-width: 790px;
}

.section-hero__btn{
    border: 1px solid #FF9900;
    background-color: #FF9900;
    color: #FFFFFF;
    padding: 20px 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    line-height: 29px;
    cursor: pointer;
    pointer-events: auto;   
    transition: .5s;
}

.section-hero__btn:hover {
    background-color: #FF9900B2;
}
.section-hero__btn:focus {
    outline:2px solid var(--color-dark-orange);
    background-color: #FF9900B2;
}

.section-hero__btn:focus {
    outline:2px solid var(--color-dark-orange);
    background-color: var(--color-dark-orange);
}


/*about-us*/

.section-about-us__content {
    margin: 0 auto;
    margin-bottom: 50px;
    padding-right: 15px;
    padding-left: 15px;
}

.section-about-us__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    max-width: 1235px;
}

/*detailing-us*/



.section-detailing__content {
   margin: 0 auto;
   margin-bottom: 100px;
   padding-left: 15px;
   padding-right: 15px;
}

.section-detailing__all-sides{
    display: flex;
    /*justify-content: space-between;*/
}


.section-detailing__left-side {
    display: flex;
    align-items: flex-end;
    margin-right: 15px;
    background-image: url(../img/Rectangle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: auto;
}

.section-detailing__left-side-small-view {
    background-image: url(../img/Rectangle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-detailing__left-side-text {
    display: flex;
    padding: 50px;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    width: 100%;
}

.section-detailing__info-text-left {
    max-width: 454px;
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}


.section-detailing__detail-btn{
    border: 3px solid var(--color-orange);
    padding: 20px 38px;
    cursor: pointer;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    transition: .5s;
}

.section-detailing__detail-btn { 
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.section-detailing__icon-detailed {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

.section-detailing__right-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
    width: 50%;
}

.section-detailing__h3-detail {
    margin-top: 0;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.section-detailing__right-side-top {
    padding-top: 40px;
    padding: 50px;
    margin-bottom: 16px;
    display: flex;
    height: auto;
    border: 1px solid #CACACA;
}

.section-detailing__right-side-bottom {
    padding-top: 40px;
    padding: 50px;
    margin-top: 16px;
    display: flex;
    height: auto;
    border: 1px solid #CACACA;
}

.section-detailing__text-card {
    max-width: 460px;
    padding-left: 50px;
}

.section-detailing__info-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
}

.section-detailing__section-heading {
    margin-top: 100px;
}


.section-detailing__detail-btn:hover {
    background: var(--color-light-orange);
}

.section-detailing__detail-btn:focus {
    outline:2px solid var(--color-dark-orange);
    background: var(--color-light-orange);
}

.section-detailing__detail-btn:active {
    background: var(--color-dark-orange);
}



/*we-work*/

.section-work__content {
    margin: 0 auto;
    margin-bottom: 110px;
    padding-right: 15px;
    padding-left: 15px;
}

.section-work__tab-active {
    display: none;
}

.section-work__tab-content {
    display: none;
}

.section-work__list-step {
    display: flex;
    padding-left: 0;
    margin-bottom: 45px;
}

.section-work__active-step {
    color: #FF9900;
}


.section-work__step-item:not(:last-child) {
    margin-right: 85px;
}


.section-work__btn-step {
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: .5s;
}

.section-work__btn-step:hover {
    color: var(--color-light-orange);
}
.section-work__btn-step:focus-visible {
    outline:none;
    border: 1px solid var(--color-light-orange);
    box-sizing: border-box;
}

.section-work__btn-step:active {
    color: var(--color-dark-orange);
}

.section-work__img768 {
    display: none;
}

.section-work__left-side-work {
    width: 100%;
}

.section-work__basis-h4 {
    margin-top: 0;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.section-work__right-btn {
    padding: 19px 37px;    
    background: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #333333;
    color: #333333;
    transition: .5s;
}

.section-work__left-btn {
    margin-right: 32px;
    padding: 20px 38px;    
    background: var(--color-orange);
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    border: none;
    color: white;   
    transition: .5s;
}

.section-work__left-btn:hover {
    background: var(--color-light-orange);
}

.section-work__left-btn:active {
    background: var(--color-dark-orange);
}

.section-work__info-text {
    max-width: 87%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
}



.section-work__btn-work {
    margin-top: 70px;
}

.section-work__right-btn:hover {
    color: #FFFFFF;
    background-color: #666666;
}
.section-work__right-btn:focus {
    color: #FFFFFF;
    background-color: #666666;
}

.section-work__right-btn:active {
    color: #FFFFFF;
    background-color: #000000;
}

.section-work__right-side-work {
    background-image: url(../img/Rectangle2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.section-work__right-side-work2 {
    background-image: url(../img/Rectangle\ 18.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.section-work__right-side-work3 {
    background-image: url(../img/Rectangle\ 19.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.section-work__right-side-work4 {
    background-image: url(../img/Rectangle\ 20.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.section-work__h3-work {
    margin-top: 0;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.section-work__tab-active {
    display: block;
}

.section-work__work-section {
    display: flex;
    justify-content: space-between;
}

/*questions*/

.section-questions__content {
    margin: 0 auto;
    margin-bottom: 100px;
    padding-right: 15px;
    padding-left: 15px;
}

.section-questions__answer {
    max-width: 1003px   ;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
}


.faq-active svg {
    transform: rotate(45deg);
    transition: 0.5s;
}

.section-questions__FAQ {
    display: flex;
    justify-content: space-between;
}

.section-questions__faq-title {
    transition: color .5s;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}

.section-questions__faq-list {
    margin: 50px 0;
    padding: 0;
}

.section-questions__faq {
    position: relative;
    margin-top: -1px;
    padding: 25px 0;
    cursor: pointer;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #CACACA;
    transition: border-color .5s;
}

.section-questions__faq:first-child {
    border-color: #CACACA;
}

.section-questions__faq:hover {
    border-color: var(--color-orange);
}

.section-questions__faq svg {
    right: 0;
    top: 50%;
    margin-top: 15px;   
}

.section-questions__faq:hover .section-questions__faq-title {
    color: var(--color-orange);
}

.section-questions__faq:hover svg ellipse {
    fill: var(--color-orange);
}

.section-questions__faq:hover path {
    fill: #FFFFFF;
}


.section-questions__faq svg path,
.section-questions__faq svg ellipse {
    transition: fill .5s;
}

.section-questions__faq:focus  {
    border-color: #FF9900;
}

.section-questions__faq:active {
    border-color: #CACACA;
}

.section-questions__faq:active .section-questions__faq-title {
    color: #333333;
}

.section-questions__faq:active svg ellipse {
    fill: #ECECEC;
}

.section-questions__faq:active path {
    fill: #666666;
}

/**footer*/


.section-footer {
  background-color:   #222222;
}

.section-footer__content {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    padding: 50px 75px;
}

.section-footer__social-link:not(:first-child) {
    padding-left: 25px;
}

.section-footer__social-link svg path {
    transition: fill .5s;
}

.section-footer__social {
    display: flex;
    padding-top: 90px;
    padding-left: 0%;
}

.section-footer__social-link:hover svg path {
    background-color: transparent;
    fill: var(--color-orange);
}

.section-footer__social-link:focus svg path {
    background-color: transparent;
    fill: #7C7C7C;
}

.section-footer__social-link:active svg path {
    background-color: transparent;
    fill: var(--color-dark-orange)
}



.section-footer__nav {
    padding-top: 5px;
}


.section-footer__nav-link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #CACACA;
    transition: color .3s;
}

.section-footer__nav-link:hover {
    color: #FF9900;
}

.section-footer__nav-link:focus {
    outline:2px solid var(--color-dark-orange);
    border: 2px solid #FF9900;
    box-sizing: border-box;
}

.section-footer__nav-link:active {
    color: var(--color-dark-orange);
}


.section-footer__nav-list {
    padding: 0;
    margin-bottom: 0;
}

.section-footer__center {
    display: grid;
    margin-left: 15px;
    margin-right: 15px;
}

.section-footer__order {
    margin-top: 0;
    margin-bottom: 25px;
    color: #CACACA;
}

.form-order {
    display: flex;
    flex-direction: column;
}   

.input {
    width: 100%;
    max-width: 550px;
    height: 60px;
    padding-left: 24px;
    margin-bottom: 25px;
    background: #414141;
    border: none;
}

.textarea {
    max-width: 550px;
    width: 100%;
    min-height: 149px;
    max-height: 150px;
    margin-bottom: 25px;
    background: #414141;
    border: none;
    padding-top: 14px;
    padding-left: 24px;
}

.section-footer__right {
    width: 363px;
    margin-top: 70px;
}

.section-footer__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;;
}

.section-footer__btn-send {
    margin-right: 32px;
    padding: 19px 52px;
    background: var(--color-orange);
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    border: none;
    color: white;
    transition:  .5s;
}

.section-footer__btn-send:hover {
    background-color: var(--color-light-orange);
}

.check {
    cursor: pointer;
}

.section-footer__checked {
    display: none;
}

.checkbox {
    font-family:'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}

.section-footer-reserve {
    display: none;
}


@media (max-width: 1300px) {


    .header__burger-nav {
        display: block;
    }

    .header__burger-nav.header__active-nav {
        transform: none;
    }
    
    .header__burger-nav{
        position: absolute;
        z-index: 10;
        top: 100px;
        bottom: 0;
        left: 15px;
        width: 200px;
        height: 220px;
        padding: 0 40px 40px 40px;
        background-color: white;
        transition: transform .3s ease-in-out;
        transform: translateX(-150%);
    }

    .section-detailing__text-card {
        padding-left: 16px;
    }

    .section-detailing__right-side-top {
        padding: 65px 100px 65px 65px;
    }

    .section-questions__answer {
        max-width: 756px;
    }

    .section-detailing__icon-detailed {
        max-width: 300px;
    }

    .section-footer__right {
        display: none;
    }

    .header__content-nav {
        display: flex;
        align-items: center;
    }

    .header__nav-burger {
        display: block;
        padding: 0;
    }
    .header__logo {
        width: 150px;
        height: 48px;
    }
    .header__btn-search {
        margin-left: 0;
        padding: 0;
    }
    .header__nav-list {
        display: none;
    }

    .section-detailing__all-sides {
        display: block;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .section-questions__faq-title:focus {
        color: var(--color-light-orange);
    }

    .section-questions__faq-title {
        font-size: 20px;
    }

    .section-detailing__left-side {
        width: 100%;
        height: 640px;
    }

    .section-detailing__right-list {
        width: 100%;
        margin-top: 32px;
        margin-left: 0;
    }

    .section-detailing__icon-detailed {
        background-position: left;
    }


@media (max-width: 1024px){
   
    .header__content {
        justify-content: space-between;
    }
    
    .section-hero__title {
        font-weight: 800;
        font-size: 60px;
        line-height: 73px;
    }
    
    .section-hero__text {
        font-size: 20px;
        line-height: 24px;
        max-width: 660px;
    }
  
    .section-detailing__right-list {
        width: 100%;
        margin-top: 32px;
        margin-left: 0;
    }

    
    .section-footer__content {
        padding: 50px;
    }
}

@media (max-width: 980px){
    .section-footer__left-footer{
         display: none;
    }

    .section-footer {
        display: none;
    }

    .section-footer-reserve {
        background-color: #222222;
    }

    .section-footer__center {
        padding: 50px;
        margin: 0;
    }

    .section-footer-reserve {
    display: block;
    }

    .section-work__right-side-work {
        display: none;
    }

    .section-work__img1 {
        display: block;
        background-image: url(../img/Office.jpg);
        background-repeat: no-repeat;
        width: 100%;
        height: 284px;
        background-size: cover;
        margin-bottom: 38px;
    }
    .section-work__img2 {
        display: block;
        background-image: url(../img/Rectangle\ 18.jpg);
        background-repeat: no-repeat;
        width: 100%;
        height: 284px;
        background-size: cover;
        margin-bottom: 38px;
    }
    .section-work__img3 {
        display: block;
        background-image: url(../img/Rectangle\ 19.jpg);
        background-repeat: no-repeat;
        width: 100%;
        height: 284px;
        background-size: cover;
        margin-bottom: 38px;
    }
    .section-work__img4 {
        display: block;
        background-image: url(../img/Rectangle\ 20.jpg);
        background-repeat: no-repeat;
        width: 100%;
        height: 284px;
        background-size: cover;
        margin-bottom: 38px;
    }

    .section-work__list-step {
        justify-content: space-between;
        margin-top: 50px;
    }
    
    .section-work__work-section {
        display: flex;
        flex-direction: column;
    }

    .section-work__btn-work  {
        margin-top: 25px;
    }

    .section-work__content {
        margin-bottom: 80px;
    }

    .section-footer__footer-logo {
        padding-top: 50px;
    }

    .section-footer__social {
        padding-top: 16px;
        margin: 0;
    }
}

@media (max-width: 900px) {
    .section-questions__faq-title {
        max-width: 750px;
    }
}


@media (max-width: 768px) {
    .header__content {
        height: 69px;
    }

    .header__burger-nav {
        top: 69px;
    }

    .section-hero__info-box {
        padding: 160px 40px 185px 40px;
    }
  
    .section-hero__title {
        font-weight: 800;
        font-size: 50px;
        line-height: 61px;
    }

    .section-questions__answer {
        max-width: 700px;
    }
    .section-hero__text {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
    }

    .section-detailing__info-text-left {
        max-width: 366px
    }

    .section-detailing__left-side-text {
        padding: 34px 40px;
    }

}


@media (max-width: 680px) {
   .section-footer__btn {
       display: flex;
       flex-direction: column;
       align-items: center;
   }

   .section-footer__footer-logo {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    border-top: 1px solid #595959;
}

    .section-footer__social {
        display: flex;
        justify-content: center;
    }

   .section-footer__btn-send {
    margin: 0 0 11px 0;
   }
}

@media (max-width: 660px) {
    .section-detailing__left-side-text {
        display: block;
        padding: 0;
        color: #000000;
        background-color: transparent;
    }

    .section-detailing__left-side {
        display: block;
        height: auto;
        background-image: none;
    }

    .section-work__left-btn {
        margin-right: 10px;
        padding: 20px 32px;
    }


    .section-detailing__left-side-small-view {
        background-image: url(../img/Rectangle.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 290px;
    }

    .section-detailing__info-text-left {
        max-width: none;
        margin-bottom: 35px;
        font-size: 14px;
        line-height: 28px;
        color: black;
    }

    .section-detailing__right-side-top,
    .section-detailing__right-side-bottom {
        display: flex;
        flex-direction: column;
        border: none;
        padding: 0;
    }

    .section-detailing__detail-btn {
        color: var(--color-orange);
    }

    .section-detailing__detail-btn{
        margin-top: 10px;
        max-width: 120px;
        text-align: center;
    }

    .section-detailing__icon-detailed {
        margin-bottom: 14px;
        height: 64px;
    }

    .section-detailing__icon-detailed {
        background-position: left;
    }

    .section-detailing__text-card {
        padding-left: 0;
    }

    .section-questions__faq-title {
        font-size: 18px;
        line-height: 32px;
        color: #333333;
    }
}

@media (max-width: 590px) {
    .section-footer__btn-send {
        padding: 0px 20px;
        font-size: 12px;
        line-height: 20px;
        height: 40px;
    }

    .section-footer__order {
        font-size: 24px;
        margin: 0;
    }

}

@media (max-width: 482px) {
    .section-hero__info-box {
        display: flex;
        flex-direction: column;
        padding: 60px 22px;
        align-items: center;
    }

    .section-work__right-btn {
        padding: 19px 34px
    }

    .section-work__left-btn {
        margin-right: 10px;
        padding: 10px 40px;
    }

    .section-hero__content {
        margin-bottom: 60px;
    }

    .section-work__step-item:not(:last-child) {
         margin-right: 0;
    }

    .section-hero__btn {
        max-width: 106px;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        align-items: center;
        text-align: center;
    }

    .section-about-us__text {
        margin-top: -25px;
    }
    

    .section-hero__title {
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }

    .section-detailing__detail-btn {
        font-size: 12px;
    }

    .section-detailing__detail-btn{
        padding: 12px 20px;
    }

    .section-hero__text {
        margin-bottom: 37px;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
    }

    .section-about-us__content {
        margin: 0 auto;
        margin-bottom: 8px;
    }
        
    .section-detailing__content {
        margin-bottom: 60px;
    }

    h2 {
        font-size: 24px;
    }

    .section-work__left-btn{
        padding: 21px 66px;
        margin-right: 10px;
        font-size: 12px;
    }


    .section-work__right-btn {
        font-size: 12px;
        padding: 0 30px;
    }
    .section-work__left-btn {
        font-size: 12px;
        margin-right: 10px;
        padding: 0px 45px;
    }

    .section-work__btn-work {
        display: flex;
        height: 40px;
    }

    .section-questions__faq-title {
        font-size: 14px;
        line-height: 32px;
    }
    .form-order {
        margin-bottom: 16px;
    }

     .section-footer__footer-logo {
            padding-top: 16px;
            border-top: 1px solid  #595959;;
     }
     .section-footer__center {
        padding: 15px
     }

     .section-footer__footer-logo {
        display: flex;
        justify-content: center;
        padding-top: 50px;
     }

     .section-footer__social {
         display: flex;
         justify-content: center;
     }

     .form-order {
        margin-bottom: 16px;
        max-width: 400px;
}

@media (max-width: 460px) {

    .input {
        width: 100%;
        max-width: 365px;
    }
    .textarea {
        max-width: 365px;
    }
}
@media (max-width: 320px) {

    .form-order {
        margin-bottom: 16px;
        max-width: 240px;
    }
   
    .section-footer {
        padding-left: 15px;
        padding-right: 15px;
    }

    .section-hero__info-box {
        display: flex;
        flex-direction: column;
        padding: 60px 22px;
    }

    .section-hero__title {
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }

    .section-hero__text {
        margin-bottom: 32px;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
    }
}
@media (max-width: 320px) {}

.swiper-pagination-bullet:focus-visible {
    background-color: var(--color-orange);
    outline: none;
}